# STRIPE

STRIPE_API_SECRET_KEY=""

STRIPE_API_PUBLIC_KEY=""

STRIPE_SUCCESS_URL="http://localhost:3000/posts"
STRIPE_CANCEL_URL="http://localhost:3000/"

# GITHUB

GITHUB_ID=""

GITHUB_SECRET=""

# FAUNA DB

FAUNA_KEY=""