NEXTAUTH_SECRET=""

# STRIPE

STRIPE_API_SECRET_KEY=""

NEXT_PUBLIC_STRIPE_API_PUBLIC_KEY=""

STRIPE_WEBHOOK_SECRET=""

STRIPE_SUCCESS_URL="http://localhost:3000/posts"
STRIPE_CANCEL_URL="http://localhost:3000/"

# GITHUB

GITHUB_ID=""

GITHUB_SECRET=""

# FAUNA DB

FAUNA_KEY=""

# PRISMIC

PRISMIC_ACCESS_TOKEN=""
